<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip01"
        placeholder="First Name"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Last Name"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <input
        type="email"
        class="form-control"
        id="inputEmail3"
        placeholder="Email"
        required
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip03"
        placeholder="Date Of Birth"
        required
      />
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Address"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Mobile"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">State</label>
      <select class="custom-select" id="validationTooltip04" required>
        <option selected disabled value="">Designation</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">State</label>
      <select class="custom-select" id="validationTooltip04" required>
        <option selected disabled value="">Bench</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">State</label>
      <select class="custom-select" id="validationTooltip04" required>
        <option selected disabled value="">Active</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Remarks"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        placeholder="Username"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <input
        type="password"
        class="form-control"
        id="validationTooltip02"
        placeholder="Password"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
  <button type="button" class="btn btn-light">Cancel</button>
</form>
